@mixin flex($aligin:unset,$justify:unset){
    display: flex;
    align-items: $aligin;
    justify-content: $justify;
}
@mixin media($width){
    @media screen and (max-width:#{$width}px){
     @content;   
    }
}
@mixin adaptive-value($property,$startSize, $minSize){
    $addSize: $startSize - $minSize;
    #{$property}:$startSize + px;
    @media(max-width:#{$maxWidthContainer + px}){
     #{$property}:calc(
        #{$minSize + px} + #{$addSize} * 
        ((100vw - 320px) / #{maxWidthContainer - 320})
     );  
    }
}